// Version 1.0 - Sept 21 2016
//
// xcode project - start with empty project. Add all the files.
//
// 1. on the general project add "settings.xcconfig" configuration for debug and release
//
// 2. Create Frameworks group - drag frameworks to project - link
//
//    Qt: open  $QTDIR/lib
//
// 3. add library target "libraryName". Static to archive the executable
//    a. remove libraryName dir
//    b. source is libraryName.cc (build phases)
//    c. add the qt frameworks/libraries to target if its not set already
//
// 4. add command tools exampleName, source is example.cc
//    a. remove exampleName dir
//    b. add libraries and frameworks accordingly
//    c. add libraryName in the target dependencies (build phases)
//    d. add products/libraryName in the exampleName target membership
//
// 5. remember to manually copy the frameworks/libraries in the products location
//
// 6. For archiving purposes, in build phases copy nexessary items in
//    executables destination - this includes the rcc file
//

// Assigning a relative path to JLAB_SOFTWARE (copy from environment)
JLAB_SOFTWARE = "/opt/jlab_software/devel/Darwin_macosx10.11-x86_64-clang7.3.0"

// Sourcing local version
#include "/opt/projects/ceInstall/devel/ce/settings.xcconfig"

// installation of libraries and binaries
CONFIGURATION_BUILD_DIR = lib

// including QT
HEADER_SEARCH_PATHS = $QT_HEADS $MLIB_HEADS 


